.navbar {
  display: flex;
  width: 100%;
  background-color: blue;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  max-width: var(--max-width-page);

  &__item {
    font-size: 1.2rem;
    margin-right: 0.5rem;
    padding: 0.25rem 0.5rem;
    background-color: red;
    & a {
      text-decoration: none;
    }
  }

  &__logo {
    text-align: center;

    & a {
      text-decoration: none;
    }
  }
  &__list-items {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
}
